.c1{
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 40px;
}
.c2{
  margin-right: 40px;
  margin-top: 60px;
}
.c3{
  margin-top: 60px;
  margin-right: 60px;
}
.navt{
  color: white;
}
div{
  padding: 15px;
}

#right
{
    float: right;
}
.ima{
float: left;
margin-right: 50px;
}
.clearfix {
  overflow: auto;
}
.fa{
  color: Tomato;
}
